.home .slider .slick-prev,
.home .slider .slick-next,
footer p a,
footer p a:hover,
.testim .tabbable .tab-content .profile-details h4,
.serv .serv-vid .play i,
.about .tabs-about .nav-link.active,
.navbar .social-media a:hover,
.navbar .nav-item.active-nav a {
  color: #55aea1; }

.maps .open-map,
.contact .form .message .send-btn,
.contact .form .message .send-btn input.btn,
.contact .form .message .send-btn,
.work .shuffle ul li.active,
.blog .shuffle ul li.active,
.serv .serv-vid .play:hover,
.about .tabs-about .tab-content .tab-pane .skills .progress .progress-bar,
.about .tabs-about .tab-content .tab-pane .btn-about a,
.home .title .btn-home a,
.navbar-toggler .menu .line1,
.navbar-toggler .menu .line2,
.navbar-toggler .menu .line3 {
  background-color: #55aea1; }

.testim .tabbable .tab-content .profile-details,
.work .shuffle ul li.active,
.work .shuffle ul li,
.blog .shuffle ul li.active,
.blog .shuffle ul li {
  border: 1px solid #55aea1; }

.testim .tabbable .tab-content .profile-image .image-tab,
.testim .tabbable .list-tabs ul .active .image-tab {
  border: 2px solid #55aea1; }

.navbar .nav-item.active-nav {
  border-bottom: 1px solid #55aea1; }

.contact .form .form-group textarea,
.contact .form .form-group input {
  border-bottom: 2px solid #55aea1; }

.about .tabs-about .nav-link.active {
  border-top: 2px solid #55aea1; }

.home3 .overlay {
  background-color: rgba(85, 174, 161, 0.9); }

.testim .client .overlay-cl {
  background-color: rgba(85, 174, 161, 0.7); }

.navbar .logo .bg_logo,
.serv .content img {
  filter: hue-rotate(120deg); }

.background-gradient {
  background: #55aea1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4c9c90 0%, #5cc9b9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4c9c90 0%, #5cc9b9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4c9c90 0%, #5cc9b9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9c90', endColorstr='#5cc9b9',GradientType=1 );
  /* IE6-9 */ }

/*# sourceMappingURL=blue-color.css.map */
