.home .slider .slick-prev,
.home .slider .slick-next,
footer p a,
footer p a:hover,
.testim .tabbable .tab-content .profile-details h4,
.serv .serv-vid .play i,
.about .tabs-about .nav-link.active,
.navbar .social-media a:hover,
.navbar .nav-item.active-nav a {
    color: #CD5C5C;
}

.maps .open-map,
.contact .form .message .send-btn,
.contact .form .message .send-btn input.btn,
.contact .form .message .send-btn,
.work .shuffle ul li.active,
.blog .shuffle ul li.active,
.serv .serv-vid .play:hover,
.about .tabs-about .tab-content .tab-pane .skills .progress .progress-bar,
.about .tabs-about .tab-content .tab-pane .btn-about a,
.home .title .btn-home a,
.navbar-toggler .menu .line1,
.navbar-toggler .menu .line2,
.navbar-toggler .menu .line3 {
    background-color: #CD5C5C;
}

.testim .tabbable .tab-content .profile-details,
.work .shuffle ul li.active,
.work .shuffle ul li,
.blog .shuffle ul li.active,
.blog .shuffle ul li {
    border: 1px solid #CD5C5C;
}

.testim .tabbable .tab-content .profile-image .image-tab,
.testim .tabbable .list-tabs ul .active .image-tab {
    border: 2px solid #CD5C5C;
}

.navbar .nav-item.active-nav {
    border-bottom: 1px solid #CD5C5C;
}

.contact .form .form-group textarea,
.contact .form .form-group input {
    border-bottom: 2px solid #CD5C5C;
}

.about .tabs-about .nav-link.active {
    border-top: 2px solid #CD5C5C;
}

.home3 .overlay {
    background-color: #CD5C5C;
}

.testim .client .overlay-cl {
    background-color: #CD5C5C;
}

.navbar .logo .bg_logo,
.serv .content img {
    filter: hue-rotate(120deg);
}

.background-gradient {
    background: #CD5C5C;
    /* Old browsers */
    background: -moz-linear-gradient(left, #CD5C5C 0%, #CD5C5C 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #CD5C5C 0%, #CD5C5C 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #CD5C5C 0%, #CD5C5C 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c9c90', endColorstr='#5cc9b9', GradientType=1);
    /* IE6-9 */
}

/*# sourceMappingURL=blue-color.css.map */
